Repository immutable/ts-immutable-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @immutable/developer-experience, @immutable/passport, @immutable/wallets, @immutable/igs-frontend

update passport example
  packages/economy/playground/src/components/craft-passport.ts
  packages/economy/playground/src/styles.scss
Owners: @immutable/igs-frontend

[ID-566]Adjust the login and confirmation popup size (#133)
  packages/passport/src/authManager.ts
  packages/passport/src/confirmation/confirmation.ts
  packages/passport/src/confirmation/popup.test.ts
  packages/passport/src/confirmation/popup.ts
  packages/passport/src/workflows/transfer.ts
Owners: @immutable/passport

WIP
  packages/internal/dex/jest.config.ts
  packages/internal/dex/package.json
  packages/internal/dex/src/contracts/types/factories/Multicall__factory.ts
  packages/internal/dex/src/lib/getQuotesForRoutes.test.ts
  packages/internal/dex/src/lib/getQuotesForRoutes.ts
  packages/internal/dex/src/lib/multicall.test.ts
  packages/internal/dex/src/lib/multicall.ts
  packages/internal/dex/src/lib/poolUtils/fetchValidPools.ts
  packages/internal/dex/src/lib/utils.test.ts
  packages/internal/dex/src/lib/utils.ts
  packages/internal/dex/src/utils/mockProvider.ts
  yarn.lock
Owners: @immutable/developer-experience

Feat: add rollup config
  packages/internal/dex/package.json
  packages/internal/dex/rollup.config.js
  packages/internal/dex/src/constants/addresses/index.ts
  packages/internal/dex/tsconfig.json
  sdk/package.json
  yarn.lock
Owners: @immutable/developer-experience

fix rollup config
  packages/internal/dex/package.json
  packages/internal/dex/rollup.config.js
  packages/internal/dex/tsconfig.json
Owners: @immutable/developer-experience

Refactored to use new config
  packages/config/src/index.ts
  packages/passport/src/Passport.test.ts
  packages/passport/src/Passport.ts
  packages/passport/src/authManager.test.ts
  packages/passport/src/authManager.ts
  packages/passport/src/config/config.test.ts
  packages/passport/src/config/config.ts
  packages/passport/src/confirmation/confirmation.test.ts
  packages/passport/src/confirmation/confirmation.ts
  packages/passport/src/types.ts
  packages/passport/src/workflows/transfer.test.ts
Owners: @immutable/developer-experience, @immutable/passport

downgrade
  packages/internal/dex/package.json
  yarn.lock
Owners: @immutable/developer-experience

fix config for node resolve
  packages/internal/dex/rollup.config.js
Owners: @immutable/developer-experience

.github/CODEOWNERS:

/packages/starkex @immutable/developer-experience
/packages/config @immutable/developer-experience
/packages/internal @immutable/developer-experience
/packages/passport @immutable/passport
/packages/provider @immutable/wallets
/packages/checkout @immutable/wallets
/packages/economy @immutable/igs-frontend
