Repository immutable/ts-immutable-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @immutable/sdk, @immutable/assets, @immutable/commerce, @immutable/tokens, @immutable/rollups, @immutable/passport, @immutable/traders, @shineli1984

.github/CODEOWNERS:

* @immutable/sdk
/.husky @immutable/sdk
/.nvmrc @immutable/sdk
/sdk @immutable/sdk
/packages/x-client @immutable/sdk
/packages/config @immutable/sdk
/packages/internal/metrics @immutable/sdk
/packages/internal/generated-clients @immutable/sdk
/packages/internal/generated-clients/src/blockchain-data @immutable/assets
/packages/internal/toolkit @immutable/commerce
/packages/internal/cryptofiat @immutable/commerce
/packages/internal/dex @immutable/tokens
/packages/internal/bridge @immutable/rollups
/packages/internal/guardian @immutable/passport
/packages/orderbook @immutable/traders
/packages/passport @immutable/passport
/packages/x-provider @immutable/commerce
/packages/checkout @immutable/commerce
/packages/checkout/widgets-lib @immutable/commerce
/packages/blockchain-data @immutable/assets
/packages/minting-backend @shineli1984
/packages/webhook @shineli1984
/packages/game-bridge @immutable/sdk
/examples @immutable/sdk
**/package.json @immutable/sdk

revert package changes
  packages/blockchain-data/sdk/package.json
  packages/checkout/sdk-sample-app/package.json
  packages/checkout/sdk/package.json
  packages/checkout/widgets-lib/package.json
  packages/checkout/widgets-sample-app/package.json
  packages/config/package.json
  packages/internal/bridge/bridge-sample-app/package.json
  packages/internal/bridge/sdk/package.json
  packages/internal/cryptofiat/package.json
  packages/internal/dex/sdk-sample-app/package.json
  packages/internal/dex/sdk/package.json
  packages/internal/factory/factory-sample-app/package.json
  packages/internal/factory/sdk/package.json
  packages/internal/generated-clients/package.json
  packages/internal/guardian/package.json
  packages/internal/metrics/package.json
  packages/internal/toolkit/package.json
  packages/minting-backend/sdk/package.json
  packages/orderbook/package.json
  packages/passport/sdk-sample-app/package.json
  packages/passport/sdk/package.json
  packages/webhook/sdk/package.json
  packages/x-client/package.json
  packages/x-provider/package.json
  packages/x-provider/src/sample-app/package.json
  yarn.lock
Owners: @immutable/sdk

revert package changes
  examples/checkout/sdk-connect-with-nextjs/package.json
  examples/checkout/sdk-switch-network-with-nextjs/package.json
  examples/orderbook/create-listing-with-nextjs/package.json
  examples/orderbook/fulfill-listing-with-nextjs/package.json
  examples/passport/identity-with-nextjs/package.json
  examples/passport/wallets-connect-with-nextjs/package.json
  examples/passport/wallets-signing-with-nextjs/package.json
  examples/passport/wallets-transactions-with-nextjs/package.json
  sdk/package.json
  tests/func-tests/imx/package.json
  tests/func-tests/zkevm/package.json
Owners: @immutable/sdk

Fix bid buy and sell mapping
  packages/orderbook/src/openapi/mapper.ts
Owners: @immutable/traders

fix: Passport sample app default transaction example hex encoding data string (#2199)
  packages/passport/sdk-sample-app/src/components/zkevm/EthSendTransactionExamples/DefaultTransaction.tsx
Owners: @immutable/passport

Add bid creation example applications
  examples/orderbook/create-bid-with-nextjs/.env.example
  examples/orderbook/create-bid-with-nextjs/.eslintrc.json
  examples/orderbook/create-bid-with-nextjs/.gitignore
  examples/orderbook/create-bid-with-nextjs/README.md
  examples/orderbook/create-bid-with-nextjs/app/create-bid-with-erc1155/page.tsx
  examples/orderbook/create-bid-with-nextjs/app/create-bid-with-erc721/page.tsx
  examples/orderbook/create-bid-with-nextjs/app/favicon.ico
  examples/orderbook/create-bid-with-nextjs/app/globals.css
  examples/orderbook/create-bid-with-nextjs/app/layout.tsx
  examples/orderbook/create-bid-with-nextjs/app/logout/page.tsx
  examples/orderbook/create-bid-with-nextjs/app/page.tsx
  examples/orderbook/create-bid-with-nextjs/app/redirect/page.tsx
  examples/orderbook/create-bid-with-nextjs/app/utils/bid.ts
  examples/orderbook/create-bid-with-nextjs/app/utils/setupOrderbook.ts
  examples/orderbook/create-bid-with-nextjs/app/utils/setupPassport.ts
  examples/orderbook/create-bid-with-nextjs/app/utils/wrapper.tsx
  examples/orderbook/create-bid-with-nextjs/next.config.mjs
  examples/orderbook/create-bid-with-nextjs/package.json
  examples/orderbook/create-bid-with-nextjs/playwright.config.ts
  examples/orderbook/create-bid-with-nextjs/tests/base.spec.ts
  examples/orderbook/create-bid-with-nextjs/tsconfig.json
  examples/orderbook/create-listing-with-nextjs/src/app/create-listing-with-erc1155/page.tsx
  yarn.lock
Owners: @immutable/sdk

update lockfile
  yarn.lock
Owners: @immutable/sdk

Expose passport on window
  packages/passport/sdk-sample-app/src/context/ImmutableProvider.tsx
Owners: @immutable/passport
