Repository immutable/ts-immutable-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @immutable/sdk, @immutable/assets, @immutable/wallets, @immutable/tokens, @immutable/rollups, @immutable/passport, @immutable/primary-revenue

stop blocking on initial gas laod
  packages/checkout/widgets-lib/src/components/Transactions/Transactions.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

fix: NOJIRA - hit the right CDN file (#1413)
  .github/workflows/publish.yaml
Owners: none

loading
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

fix
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

more fixes for pr feedback
  packages/passport/sdk/src/zkEvm/user/loginZkEvmUser.test.ts
  packages/passport/sdk/src/zkEvm/user/loginZkEvmUser.ts
  packages/passport/sdk/src/zkEvm/zkEvmProvider.ts
Owners: @immutable/passport

Refactor Swap and Bridge Fees to use same component
  packages/checkout/widgets-lib/src/components/Fees/FeeStyles.ts
  packages/checkout/widgets-lib/src/components/Fees/Fees.tsx
  packages/checkout/widgets-lib/src/components/FeesBreakdown/FeesBreakdown.tsx
  packages/checkout/widgets-lib/src/locales/en.json
  packages/checkout/widgets-lib/src/locales/ja.json
  packages/checkout/widgets-lib/src/locales/ko.json
  packages/checkout/widgets-lib/src/locales/zh.json
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeFormStyles.ts
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeReviewSummary.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/functions/BridgeFees.ts
  packages/checkout/widgets-lib/src/widgets/swap/components/SwapButtonStyles.ts
  packages/checkout/widgets-lib/src/widgets/swap/components/SwapForm.tsx
  packages/checkout/widgets-lib/src/widgets/swap/views/SwapCoins.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

Removed console
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
  packages/checkout/widgets-lib/src/widgets/swap/components/SwapForm.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

fix: passport dev environment
  packages/passport/sdk/src/Passport.ts
  packages/passport/sdk/src/authManager.ts
Owners: @immutable/passport

fix: remove auto logout line
  packages/passport/sdk/src/authManager.ts
Owners: @immutable/passport

fix: passport config import
  packages/passport/sdk/src/Passport.ts
Owners: @immutable/passport

readded try/catch
  packages/passport/sdk/src/zkEvm/user/loginZkEvmUser.ts
Owners: @immutable/passport

Small bridge txn fixes (#1442)
  packages/checkout/widgets-lib/src/components/Transactions/Transactions.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

test one rollup config
  packages/checkout/widgets-lib/rollup.config.js
Owners: @immutable/wallets, @immutable/primary-revenue

Add a test
  packages/passport/sdk/src/Passport.int.test.ts
  packages/passport/sdk/src/Passport.ts
  packages/passport/sdk/src/starkEx/passportImxProviderFactory.ts
  packages/passport/sdk/src/types.ts
Owners: @immutable/passport

Clean up
  packages/passport/sdk/src/Passport.int.test.ts
Owners: @immutable/passport

Clean up
  packages/passport/sdk/src/Passport.ts
Owners: @immutable/passport

Clean up
  packages/passport/sdk/src/Passport.ts
Owners: @immutable/passport

Fix imports
  packages/passport/sdk/src/starkEx/passportImxProvider.ts
Owners: @immutable/passport

WIP fees shimmer
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeFormStyles.ts
Owners: @immutable/wallets, @immutable/primary-revenue

Updates to support fees shimmer state
  packages/checkout/widgets-lib/src/components/Fees/Fees.tsx
  packages/checkout/widgets-lib/src/components/FeesBreakdown/FeeItem.tsx
  packages/checkout/widgets-lib/src/components/FeesBreakdown/FeesBreakdown.tsx
  packages/checkout/widgets-lib/src/components/FeesBreakdown/FeesBreakdownStyles.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeReviewSummary.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/functions/BridgeFees.ts
  packages/checkout/widgets-lib/src/widgets/swap/components/SwapForm.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

minor change to tests
  packages/passport/sdk/src/guardian/guardian.test.ts
Owners: @immutable/passport

Add a test to check basePath on imxApiClients (#1445)
  packages/passport/sdk/src/Passport.int.test.ts
  packages/passport/sdk/src/Passport.ts
  packages/passport/sdk/src/starkEx/passportImxProvider.ts
  packages/passport/sdk/src/starkEx/passportImxProviderFactory.ts
  packages/passport/sdk/src/types.ts
Owners: @immutable/passport

bridge wc investigation
  packages/checkout/sdk/src/env/constants.ts
  packages/checkout/sdk/src/network/network.ts
  packages/checkout/sdk/src/sdk.ts
  packages/checkout/sdk/src/transaction/transaction.ts
  packages/checkout/widgets-lib/src/widgets/bridge/components/BridgeForm.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/components/WalletAndNetworkSelector.tsx
  packages/checkout/widgets-lib/src/widgets/bridge/views/ApproveTransaction.tsx
  packages/checkout/widgets-lib/src/widgets/connect/components/WalletList.tsx
  packages/checkout/widgets-sample-app/src/components/ui/marketplace-orchestrator/MainPage.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

fix: NOJIRA passport dev fix (#1444)
  packages/passport/sdk/src/Passport.int.test.ts
  packages/passport/sdk/src/Passport.ts
  packages/passport/sdk/src/starkEx/passportImxProvider.ts
  packages/passport/sdk/src/starkEx/passportImxProviderFactory.ts
  packages/passport/sdk/src/types.ts
Owners: @immutable/passport

removes comment
  packages/checkout/widgets-lib/src/widgets/sale/views/PaymentMethods.tsx
Owners: @immutable/wallets, @immutable/primary-revenue

.github/CODEOWNERS:

/sdk @immutable/sdk
/packages/x-client @immutable/sdk
/packages/config @immutable/sdk
/packages/internal/version-check @immutable/sdk
/packages/internal/generated-clients @immutable/sdk
/packages/internal/generated-clients/src/blockchain-data @immutable/assets
/packages/internal/toolkit @immutable/wallets
/packages/internal/cryptofiat @immutable/wallets
/packages/internal/dex @immutable/tokens
/packages/internal/bridge @immutable/rollups
/packages/passport @immutable/passport
/packages/x-provider @immutable/wallets
/packages/checkout @immutable/wallets
/packages/checkout/widgets-lib @immutable/wallets @immutable/primary-revenue
/packages/blockchain-data @immutable/assets
/packages/game-bridge @immutable/sdk
/samples @immutable/sdk
