Repository immutable/ts-immutable-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @immutable/sdk, @immutable/activation, @immutable/passport, @immutable/rollups

feat: Add bids support to Marketplace APIs in BlockchainData package (#2408)
  packages/internal/generated-clients/Makefile
  packages/internal/generated-clients/src/blockchain-data-openapi.json
  packages/internal/generated-clients/src/blockchain-data/.openapi-generator/FILES
  packages/internal/generated-clients/src/blockchain-data/models/bid.ts
  packages/internal/generated-clients/src/blockchain-data/models/index.ts
  packages/internal/generated-clients/src/blockchain-data/models/market-top-bid.ts
  packages/internal/generated-clients/src/blockchain-data/models/market.ts
  packages/internal/generated-clients/src/blockchain-data/models/nftbundle.ts
  packages/internal/generated-clients/src/blockchain-data/models/stack-bundle.ts
  packages/internal/generated-clients/src/mr-openapi.json
  packages/internal/generated-clients/src/multi-rollup/.openapi-generator/FILES
  packages/internal/generated-clients/src/multi-rollup/domain/guardian-api.ts
  packages/internal/generated-clients/src/multi-rollup/models/bid.ts
  packages/internal/generated-clients/src/multi-rollup/models/index.ts
  packages/internal/generated-clients/src/multi-rollup/models/market-top-bid.ts
  packages/internal/generated-clients/src/multi-rollup/models/market.ts
  packages/internal/generated-clients/src/multi-rollup/models/nftbundle.ts
  packages/internal/generated-clients/src/multi-rollup/models/stack-bundle.ts
  packages/x-client/src/utils/formatError.test.ts
Owners: @immutable/sdk, @immutable/activation

Adjust provider update for add funds
  packages/checkout/widgets-lib/src/widgets/add-tokens/functions/convertToNetworkChangeableProvider.ts
  packages/checkout/widgets-lib/src/widgets/add-tokens/hooks/useExecute.ts
  packages/checkout/widgets-lib/src/widgets/add-tokens/views/Review.tsx
Owners: @immutable/passport

Implement different completion state
  packages/checkout/widgets-lib/src/locales/en.json
  packages/checkout/widgets-lib/src/widgets/add-tokens/views/Review.tsx
Owners: @immutable/passport

Return early
  packages/checkout/widgets-lib/src/widgets/add-tokens/views/Review.tsx
Owners: @immutable/passport

i18n files
  packages/checkout/widgets-lib/src/locales/ja.json
  packages/checkout/widgets-lib/src/locales/ko.json
  packages/checkout/widgets-lib/src/locales/zh.json
Owners: @immutable/passport

Move to show success for zkEVM
  packages/checkout/widgets-lib/src/widgets/add-tokens/views/Review.tsx
Owners: @immutable/passport

Remove Included in fee section
  packages/checkout/widgets-lib/src/locales/en.json
  packages/checkout/widgets-lib/src/locales/ja.json
  packages/checkout/widgets-lib/src/locales/ko.json
  packages/checkout/widgets-lib/src/locales/zh.json
Owners: @immutable/passport

disable commerce widgets example tests until v2 is released
  examples/checkout/commerce-widget-nextjs/package.json
Owners: none

[NO CHANGELOG] [Add Tokens Widget] Add tokens/id 2965 confirmation (#2410)
  packages/checkout/widgets-lib/src/locales/en.json
  packages/checkout/widgets-lib/src/locales/ja.json
  packages/checkout/widgets-lib/src/locales/ko.json
  packages/checkout/widgets-lib/src/locales/zh.json
  packages/checkout/widgets-lib/src/widgets/add-tokens/hooks/useExecute.ts
  packages/checkout/widgets-lib/src/widgets/add-tokens/utils/config.ts
  packages/checkout/widgets-lib/src/widgets/add-tokens/views/Review.tsx
Owners: @immutable/passport

[NO CHANGELOG] [Add Tokens Widget] fix:Remove Included in fee section (#2411)
  packages/checkout/widgets-lib/src/locales/en.json
  packages/checkout/widgets-lib/src/locales/ja.json
  packages/checkout/widgets-lib/src/locales/ko.json
  packages/checkout/widgets-lib/src/locales/zh.json
Owners: @immutable/passport

update hardhat versions for zkemv tests
  .github/workflows/pr.yaml
  pnpm-lock.yaml
  tests/func-tests/zkevm/package.json
Owners: none

.github/CODEOWNERS:

/.husky @immutable/sdk
/sdk @immutable/sdk
/packages/x-client @immutable/sdk
/packages/config @immutable/sdk
/packages/internal/version-check @immutable/sdk
/packages/internal/metrics @immutable/sdk
/packages/internal/generated-clients @immutable/sdk
/packages/internal/generated-clients/src/blockchain-data @immutable/activation
/packages/internal/toolkit @immutable/passport
/packages/internal/cryptofiat @immutable/passport
/packages/internal/dex @immutable/passport
/packages/internal/bridge @immutable/rollups
/packages/passport @immutable/passport
/packages/x-provider @immutable/passport
/packages/checkout @immutable/passport
/packages/checkout/widgets-lib @immutable/passport
/packages/blockchain-data @immutable/activation
/packages/game-bridge @immutable/sdk
/samples @immutable/sdk
